 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Operations</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <! -- div class="col-lg-4 col-lg-offset-2">
                    <p>Bitoku Labs is a Social Storage Blockchain being built on the Solona ecosystem to support all Web3 projects. Bitoku operates its own High-Performance Solana Validator that is housed in a secure, carrier-neutral colocation facility in Troy, MI. We offer a highly competitive commission rate and are using very capable hardware. </p>
                </div>
                <div class="row">
                <! -- div class="col-lg-4">
                    <p>We believe decentralization is one key element in the future of web3, so we choose a data center with no other validators currently present. This helps the Solana chain to be more decentralized and therefore, more resiliant to cencorship and more resistant to faults due to hardware failures and regional internet backbone outages. We also have diverse A/B power feeds with fully separate power distribution, including UPS and generators with minimum 72 hour runtime. We also have redundant cooling systems here to give our validator the best chance for the 100% uptime we will always be striving for.</p>
                </div>
                <div class="row">
                <! -- div class="col-lg-4">
                    <p>Our validator operators are skilled developers and tech enthusuasts with an unexplainable drive to make technology usable for the masses. Choosing individuals with this mindset, ensures that we always are driven to maintain our equipment and succeed at our goals. We are also spread out among multiple time zones for the off chance that anything were to go south outside regular business hours.</p>
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
