 <!-- Security Section -->
    <section class="success" id="security">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Security</h2>
                    <hr class="star-light">
                </div>
            </div>
            	<div class="row">
                <!div class="col-lg-4 col-lg-offset-2">
                    <p>To ensure a solid and secure validator, we use the same security best practices as recommended by most every tech firm out there. We keep our OS and Validator software up to date, we keep only the bare minimum software running on our server, we close ports that aren't strictly needed, and we monitor for suspicious activity and activly ban anyone or anything that touches our server without authorization. In addition to keeping the system running current software, our server is located in a secure facility that is staffed 24/7, includes cctv monitoting, and utilizes 2FA for entry.</p>
            </div>
            	<div class="row">
                <!div class="col-lg-4">
                    <p>The strength and security of the individual validator is where the strength and security of the Solana Ecosystem is drived. We don't assume this role lightly. </p>
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
